# Mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
ehthumbs.db
Thumbs.db
.Trashes
**/*~

# XCode
build/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.swp
*.bundle
.bundle

# Windows
Thumbs.db
desktop.ini

# Android
.gradle
/local.properties
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/libraries
/build
/app/app.iml
.idea/gradle.xml
.idea/misc.xml
app/app.iml
library/library.iml